volumes:
  postgres_volume:


services:
  traefik:
    image: traefik:v3.0
    container_name: traefik
    # Enables the web UI and tells Traefik to listen to docker
    command:
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedByDefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --certificatesresolvers.letsencrypt.acme.tlschallenge=true
      - --certificatesresolvers.letsencrypt.acme.email=example@mail.com
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json

    ports:
      # The HTTP/S port
      - 80:80
      - 443:443
      # The Web UI (enabled by --api.insecure=true)
      - 8080:8080
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
      - ./letsencrypt:/letsencrypt
  app:
    build:
      context: ./app
    image: app
    container_name: app
    labels:
      - traefik.enable=true
      - traefik.http.routers.app.rule=PathPrefix(`/`)
      # - traefik.http.routers.app.rule=Host(`app.dev`)
      # - traefik.http.routers.app.tls=true
      # - traefik.http.routers.app.tls.certresolver=letsencrypt
      - traefik.http.services.app.loadbalancer.server.port=5173
    environment:
      TZ: Europe/Rome
    volumes:
      - ./app:/home/node/app
      - /home/node/app/node_modules
    restart: always

  api:
    build:
      context: ./api
    image: api
    container_name: api
    labels:
      - traefik.enable=true
      - traefik.http.routers.api.rule=PathPrefix(`/api`)
      # - traefik.http.routers.api.tls=true
      # - traefik.http.routers.api.tls.certresolver=letsencrypt
      - traefik.http.services.api.loadbalancer.server.port=3000
    environment:
      TZ: Europe/Rome
      ENVIRONMENT: development
    volumes:
      - ./api:/home/node/api
      - /home/node/api/node_modules
    restart: always

  postgres:
    image: postgres:15.1
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=demoPwd
    ports:
      - '5432:5432'
    volumes:
      - postgres_volume:/var/lib/postgresql/data
